<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:jaxws="http://cxf.apache.org/jaxws" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
		http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">

	<bean
		class="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor" />

	<bean id="amazonAssociatesWebServiceAccount"
		class="com.googlecode.amazoncxf.domain.AmazonAssociatesWebServiceAccount">
		<property name="awsAccessKeyId" value="${awsAccessKeyId}" />
		<property name="associateTag" value="${associateTag}" />
	</bean>

	<!--
		<bean id="awseCommerceService"
		class="com.amazon.webservices.awsecommerceservice.AWSECommerceService"
		/> <bean id="awseCommerceServicePort"
		factory-bean="awseCommerceService"
		factory-method="getAWSECommerceServicePort" />
	-->

	<bean id="itemDao" class="com.googlecode.amazoncxf.dao.ItemDaoImpl">
		<property name="amazonAssociatesWebServiceAccount" ref="amazonAssociatesWebServiceAccount" />
		<property name="awseCommerceServicePort" ref="client" />
	</bean>

	<bean id="passwordCallback" class="com.googlecode.amazoncxf.util.PasswordCallback" />

	<bean id="wss4jOutConfiguration" class="org.apache.cxf.ws.security.wss4j.WSS4JOutInterceptor">
		<constructor-arg>
			<map>
				<entry key="action" value="Timestamp Signature" />
				<entry key="user" value="${keystore.alias}" />
				<entry key="passwordType" value="PasswordDigest" />
				<entry key="signaturePropFile" value="client_sign.properties" />
				<entry key="signatureKeyIdentifier" value="DirectReference"/>
                <entry key="passwordCallbackClass" value="com.googlecode.amazoncxf.util.PasswordCallback"/>
				<entry key="signatureParts" value="{Element}{http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd}Timestamp;{Element}{http://schemas.xmlsoap.org/soap/envelope/}Body"/>
				<entry key="encryptionParts" value="{Element}{http://www.w3.org/2000/09/xmldsig#}Signature;{Content}{http://schemas.xmlsoap.org/soap/envelope/}Body"/>
                <entry key="encryptionSymAlgorithm" value="http://www.w3.org/2001/04/xmlenc#tripledes-cbc"/>
			</map>
		</constructor-arg>
	</bean>
	
	<bean id="clientFactory" class="org.apache.cxf.jaxws.JaxWsProxyFactoryBean">
		<property name="serviceClass"
			value="com.amazon.webservices.awsecommerceservice.AWSECommerceServicePortType" />
		<property name="address"
			value="https://ecs.amazonaws.com/onca/soap?Service=AWSECommerceService" />
		<property name="outInterceptors">
			<list>
<!--				<bean class="org.apache.cxf.binding.soap.saaj.SAAJOutInterceptor" />-->
				<ref bean="wss4jOutConfiguration" />
			</list>
		</property>
	</bean>

	<bean id="client"
		class="com.amazon.webservices.awsecommerceservice.AWSECommerceServicePortType"
		factory-bean="clientFactory" factory-method="create" />
</beans>