<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
	<bean
		class="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor" />

	<bean id="amazonAssociatesWebServiceAccount"
		class="com.googlecode.amazoncxf.domain.AmazonAssociatesWebServiceAccount">
		<property name="awsAccessKeyId" value="${awsAccessKeyId}" />
		<property name="associateTag" value="${associateTag}" />
	</bean>

	<bean id="awseCommerceService"
		class="com.amazon.webservices.awsecommerceservice._2009_02_01.AWSECommerceService" />

	<bean id="awseCommerceServicePort" factory-bean="awseCommerceService"
		factory-method="getAWSECommerceServicePort" />

	<bean id="itemDao" class="com.googlecode.amazoncxf.dao.ItemDaoImpl">
		<property name="amazonAssociatesWebServiceAccount" ref="amazonAssociatesWebServiceAccount" />
		<property name="awseCommerceServicePort" ref="awseCommerceServicePort" />
	</bean>
</beans>